body {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
  background-image: url('../assets/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.left-side {
  background-color: #a4c3d1;
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.left-side img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.right-side {
  background-color: #f0f0f0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  height: 680px;
}

h1 {
  font-size: 1em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btnRegister,
.btnLogin {
  padding: 10px;
  background-color: #fde783;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.btnRegister:hover,
.btnLogin:hover {
  background-color: #c5b674;
}

.auth-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #607d8b;
}

.auth-links a {
  text-decoration: none;
  color: #607d8b;
  font-size: 1.5em;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  margin: 0 20px;
  display: inline-block;
}

.auth-links a:hover {
  border-bottom: 2px solid #607d8b;
}

.auth-links a.active {
  border-bottom: 2px solid #607d8b;
}

.house {
  background-color: none;
  width: 30px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: larger;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0px;
  margin: 0px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.house:hover {
  background-color: #ccc;
  cursor: pointer;
  color: #000000;
}

.header {
  display: flex;
  gap: 5px;
}

header {
  width: 100%;
  z-index: 1000;
  background-color: #fff1b6;
  top: 0;
  left: 0;
  padding: 10px;

  & > div {
    color: black;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

header h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  margin: 0;
}

header nav {
  margin-top: 15px;
  padding: 10px;
}

header nav a {
  font-family: 'Arial', sans-serif;
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s;
}

header nav a:hover {
  color: #6382a0;
}
